/* Formatting for HTML */
.jumbotron {
    background-image: url("../images/bacteria.jpg");
    background-size: cover;
    color:navy;
    font-size: 20px !important ;
    margin-bottom: 10px

}

.jumbotron h1{
    font-weight: 800;
    }

.jumbotron p{
    font-weight: 500;
    color: black
}

#bubble {
    align-items: center;
}

grid-item {
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
    }

#gauge {
    align-items: right !important;

}

hr {border-top: 3px double !important;}

#selDataset {
    font-size: medium;
}

.panel-heading {
    background-color:darkslateblue;
    color: white;
}

.panel-body {
    background-color: #f3e6ff;
}

.panel {
    border-color: black;
}

.well {
    background-color:darkslateblue;
}

.well h2{
    color:white;
}

#icon {
    object-fit: contain;
}

/* Reference for glow feature https://www.w3schools.com/howto/howto_css_glowing_text.asp */
.glow {
    font-size: 60px;
    color: white;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #6666ff, 0 0 20px #1a1aff, 0 0 30px #80bfff, 0 0 40px #80bfff, 0 0 50px #80bfff, 0 0 60px #80bfff, 0 0 70px #80bfff;
    }
    to {
      text-shadow: 0 0 20px #6666ff, 0 0 30px #1a1aff, 0 0 40px #1a1aff, 0 0 50px #1a1aff, 0 0 60px #1a1aff, 0 0 70px #1a1aff, 0 0 80px #1a1aff;
    }
  }