.jumbotron {
    background-image: url("../images/bacteria.jpg");
    background-size: cover;
    color:navy;
    font-size: 20px !important ;
    margin-bottom: 10px

}

.jumbotron h1{
    font-weight: 800;
    }

.jumbotron p{
    font-weight: 500;
    color: black
}

#bubble {
    align-items: center;
}

grid-item {
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
    }

#gauge {
    align-items: right !important;

}

hr {border-top: 3px double !important;}

#selDataset {
    font-size: medium;
}

.panel-heading {
    background-color:darkslateblue;
    color: white;
}

.panel-body {
    background-color: #f3e6ff;
}

.panel {
    border-color: black;
}

.well {
    background-color:darkslateblue;
}

.well h2{
    color:white;
}

#icon {
    object-fit: contain;
}